name: Release to Maven Central

on:
  push:
    branches: [ master, main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Build Project
        run: |
          mvn clean package -DskipTests -B

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: jar-files
          path: target/*.jar
          retention-days: 7
